* {
  font-family: "Poppins", sans-serif;
}

.active {
  font-weight: 600;
}
.hero {
  height: 75vh;
}

@media only screen and (max-width: 768px) {
  .hero-img_right {
    display: none;
  }

  .hero-img_left {
    position: absolute;
    left: 50px;
  }
}

.hero-img_right {
  position: absolute;
  top: 100px;
  right: 50px;
}

.hero-img_left {
  position: absolute;
  top: 100px;
  left: 50px;
}

.card:hover .image {
  opacity: 0.3;
}

.card {
  position: relative;
}

.card:hover .card-action {
  opacity: 1;
}

.card-action {
  transition: 0.5s ease;
  opacity: 0;
  margin-top: -50px;
  width: 100%;
  text-align: center;
}

.card-action:hover {
  display: block;
}

.dropdown-menu-center {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
