* {
  font-family: "Poppins", sans-serif;
}

.hero {
  height: 75vh;
}

.card:hover .image {
  opacity: 0.3;
}

.card:hover .card-action {
  opacity: 1;
}
.card {
  position: relative;
  margin-top: 30px;
}

.card-action {
  transition: 0.5s ease;
  opacity: 0;
  margin-top: -50px;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .card-action {
    transition: 0.5s ease;
    opacity: 1;
    margin-top: 0px;
    width: 100%;
    text-align: center;
  }
}

.dropdown-menu-center {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.current {
  color: red;
}

.btn.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
  content: none;
}

.bc-icons-2 .breadcrumb-item.active {
  color: #455a64;
}

/*   Change Color for Active Tabs     */
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.nav-pills > li > a:hover,
.nav > li > a:hover {
  background-color: #ce1b1b;
  border-color: #ffffff;
  color: #ffffff;
}

/*   Change Color for Inactive Tabs     */
.nav-pills > li > a {
  background-color: rgba(255, 255, 255, 0);
  border-color: #ffffff00;
  color: #696969;
}
