body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: aqua;
}

form {
  display: flex;
  flex-direction: column;
  height: 55vh;
  background-color: white;
  padding: 25px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 12px 2px gray;
}

.input-control {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.login-btn {
  background-color: rgb(216, 137, 150);
  color: white;
  border: 0px;
}

input {
  padding: 10px;
  border: 1px gray solid;
  border-radius: 5px;
}

.or {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.or-box {
  border: 1px gray solid;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  top: -20px;
  right: 80px;
  left: 80px;
  z-index: 99;
  background-color: aliceblue;
  text-align: center;
}

hr {
  z-index: 0;
}

.login-oauth {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.login-img {
  width: 40px;
  height: 40px;
}
